<a href="https://colab.research.google.com/github/kaylasawyer/BTE320/blob/main/in_class_assignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
h = 10
r = 3
pi = 3.14

Area = (2 * pi * r * h) + (2 * pi * r ** 2)
print(Area)

244.92000000000002

In [ ]:
p1 = input('What move did Player 1 make (rock/paper/scissors): ')
p2 = input('What move did Player 2 make (rock/paper/scissors): ')

if p1 == p2:
  print('Draw')
elif p1 == 'rock':
  if p2 == 'paper':
    print('Player 2 won')
  elif p2 == 'scissors':
    print('Player 1 won')
elif p1 == 'paper':
  if p2 == 'rock':
    print('Player 1 won')
  elif p2 == 'scissors':
    print('Player 2 won')
elif p1 == 'scissors':
  if p2 == 'rock':
    print('Player 2 won')
  elif p2 == 'paper':
    print('Player 1 won')

What move did Player 1 make (rock/paper/scissors): paper
What move did Player 2 make (rock/paper/scissors): scissors
Player 2 won

In [ ]:
import random
answer = input('Do you want to play the game? ')

while answer == 'yes':
  p1 = input('What move did Player 1 make (rock/paper/scissors): ')
  p2 = random.choice(['rock', 'paper', 'scissors'])

  print(f'Player chose {p1} and Computer chose {p2}')

  if p1 == p2:
    print('Draw')
  elif p1 == 'rock':
    if p2 == 'paper':
      print('Computer won')
    elif p2 == 'scissors':
      print('Player 1 won')
  elif p1 == 'paper':
    if p2 == 'rock':
      print('Player 1 won')
    elif p2 == 'scissors':
      print('Computer won')
  elif p1 == 'scissors':
    if p2 == 'rock':
      print('Computer won')
    elif p2 == 'paper':
      print('Player 1 won')
  answer = input('Do you want to play another game? ')
print('Thanks for playing')

Do you want to play the game? yes
What move did Player 1 make (rock/paper/scissors): rock
Player chose rock and Computer chose paper
Computer won
Do you want to play another game? no
Thanks for playing

In [ ]:
num1 = int(input('Enter first number: '))
operation = input('Enter operation (+, -, /, *, **): ')
num2 = int(input('Enter second number: '))

if operation == '+':
  print(num1 + num2)
elif operation == '-':
  print(num1 - num2)
elif operation == '/':
  print(num1 / num2)
elif operation == '*':
  print(num1 * num2)
elif operation == '**':
  print(num1 ** num2)

Enter first number: 5
Enter operation (+, -, /, *, **): +
Enter second number: 5
10

In [ ]:
floor_rate = 5
hourly_rate = 2.5

for i in range(1,9,1):
  charge = floor_rate + (i * hourly_rate)
  if charge < 10:
    charge = 10
  elif charge > 20:
    charge = 20
  print(i, charge)

1 10
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20
8 20

In [ ]:
ticket = 10
fixed_cost = 200
fixed_attendees = 20

for ad in range(0,201,25):
  add_atendees = 2 * round(ad ** .5)
  profit = (fixed_attendees * ticket) + (ticket * add_atendees) - fixed_cost - ad
  print(ad,profit)

0 0
25 75
50 90
75 105
100 100
125 95
150 90
175 85
200 80

In [ ]:
t = '123456'

In [ ]:
t[1:-1] == t[1:5] == t[1:len(t)-1]

True

In [ ]:
months = {}

names = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

for i in range(len(names)):
  months[names[i]] = numbers[i]
print(months)

{'Jan': 1, 'Feb': 2, 'Mar': 3, 'Apr': 4, 'May': 5, 'Jun': 6, 'Jul': 7, 'Aug': 8, 'Sep': 9, 'Oct': 10, 'Nov': 11, 'Dec': 12}

In [ ]:
if months % 6 == 0:

In [ ]:
def calculate_months_to_save_for_down_payment(annual_salary, portion_saved, total_cost, r=0.04, portion_down_payment=0.25):
    current_savings = 0.0
    monthly_salary = annual_salary / 12
    down_payment = total_cost * portion_down_payment
    months = 0

    while current_savings < down_payment:
        current_savings = current_savings + (current_savings * r / 12)  # investment return
        current_savings = current_savings + (portion_saved * monthly_salary)  # savings from salary
        months = months + 1

    return months

In [ ]:
calculate_months_to_save_for_down_payment(120000, 0.1, 1000000)

183

In [ ]:
def calculate_months_to_save_with_raise(annual_salary, portion_saved, total_cost, semi_annual_raise, r=0.04, portion_down_payment=0.25):
    current_savings = 0.0
    monthly_salary = annual_salary / 12
    down_payment = total_cost * portion_down_payment
    months = 0

    while current_savings < down_payment:
        current_savings = current_savings + (current_savings * r / 12)
        current_savings = current_savings + (portion_saved * monthly_salary)
        months = months + 1

        if months % 6 == 0:
            annual_salary = annual_salary + (annual_salary * semi_annual_raise)
            monthly_salary = annual_salary / 12

    return months

In [ ]:
calculate_months_to_save_with_raise(120000, 0.1, 1000000, 0.07)

112

In [ ]:
def range_check(num, low, high):
  if num >= low and num <= high:
    return True
  else:
    return False

In [ ]:
range_check(5,6,7)

False

In [ ]:
res = range_check(low=1, high=3, num=2) # keywords, doesn't require any order
print(res)

True

In [ ]:
def calcFee(hours):
  return (hours * 2.5) + 5

hours = int(input('Enter hours: '))
print(calcFee(hours))

Enter hours: 2
10.0

In [ ]:
def calcFee(hours, decimals = 2):
  fee = 5 + (hours * 2.5)
  fee = round(fee, decimals)
  return fee

def displayFee(fee):
  print(fee)

hours = int(input('Enter hours: '))
fee = calcFee(hours, decimals=0)
displayFee(fee)

Enter hours: 5
18.0

In [ ]:
def revs(s):
  if len(s) == 1:
    return s
  else:
    return s[::-1]

s = input('Enter string: ')
print(revs(s))

Enter string: yard
dray

In [ ]:
def quickSort(L):
  if len(L) <= 1:
    return L
  else:
    pivot = L[len(L) // 2]
    less = []
    equal = []
    more = []

    for el in L:
      if el < pivot:
        less.append(el)
      elif el > pivot:
        more.append(el)
      else:
        equal.append(el)

    return quickSort(less) + equal + quickSort(more)
quickSort([5,4,3,2,1])

[1, 2, 3, 4, 5]

In [ ]:
def wAvg(L, w):
  try:
    res = []
    for i in range(len(L)):
      res.append(L[i] * w[i])
    return sum(res)/sum(w)
  except ZeroDivisionError:
    print('Zero Division Error')
    return []
  except TypeError:
    print('Type Error')
    return []
  except Exception as e:
    print('Unkown error:', e)
    return float('nan')

wAvg([1,2,3], [1, 0, -1])

Zero Division Error

[]

In [16]:
class Student:
  def __init__(self, name, number):
    self.name = name
    self.number = number

  def __str__(self):
    return f'{self.name} {self.number}'

In [17]:
s1 = Student('Bob', "123")
s2 = Student('Alice', "456")

s1.name

'Bob'

In [19]:
print(s1, s2)

Bob 123 Alice 456